<div class="container">
  <button class="btn btn-primary" (click)="users.refetch()">Refetch</button>
  <button class="btn btn-primary" (click)="quantity.set(10)">10 users</button>
  <button class="btn btn-primary" (click)="quantity.set(20)">20 users</button>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="users.isFetching()">
        <tr>
          <td colspan="4">
            <div class="progress" role="progressbar" title="User dataset loading">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!users.isLoading(); else loader">
        <ng-container *ngFor="let user of users()">
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="users.isError()">
          <tr>
            <th scope="row"></th>
            <td colspan="3">
              Error loading the data.
              <button class="btn btn-secondary" (click)="users.refetch()">
                Try again
              </button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      <ng-template #loader>
        <ng-container *ngFor="let a of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
          <tr class="placeholder-glow">
            <th scope="row" class="placeholder"></th>
            <td class="placeholder"></td>
            <td class="placeholder"></td>
            <td class="placeholder"></td>
          </tr>
        </ng-container>
      </ng-template>
    </tbody>
  </table>
</div>
